.projectCard {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 65rem;
  background: linear-gradient(to left, #000, var(--bg));
}
.projectImageBox {
  transform: translateX(-3.5rem);
}
.boxImage {
  width: 320px;
  height: 220px;

  position: relative;
  overflow: hidden;
  background: #000;
  padding: 10px;
}
.boxImage img {
  object-fit: contain;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 2;
}

.boxImage::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 140px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, blue, blue, blue, transparent);
  animation: productImage 4s linear infinite;
}
.boxImage::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: var(--bg);
}
@keyframes productImage {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.projectCard2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 65rem;
  background: linear-gradient(to right, #000, var(--bg));
  flex-direction: row-reverse;
}
.projectImageBox2 {
  transform: translateX(3.5rem);
}
@media screen and (max-width: 768px) {
  .projectCard,
  .projectCard2 {
    flex-direction: column;
  }
  .projectImageBox,
  .projectImageBox2 {
    transform: translate(-0rem, -4rem);
  }
  .projectDetails {
    margin-top: -65px;
  }
}
