.name {
  color: lightyellow;
}
.title {
  font-size: 1.3rem;
  color: lightcyan;
}
.contactpos {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1000;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci {
  position: relative;
  display: flex;
  gap: 40px;
}
.sci li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 4.5vw;
  font-weight: 700;
  transition: 0.5s;
  opacity: 0;
  color: #000;
}
.sci li:hover:before {
  opacity: 0.1;
  transform: translate(-50%, calc(-50% + 85px));
}
.sci li a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border-radius: 10px;

  font-size: 20px;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 1);
  transition: 0.5s;
}
.sci li a:hover {
  transition: 0.5s all ease-in-out;
  background: var(--clr);
}
.sci li a:hover i {
  transition: 0.25s;
  color: #fff;
}
.sci li a:hover i {
  transition: 0.3s;
  transform: scale(1.15);
}
