.name {
  color: lightyellow;
}
.title {
  font-size: 1.3rem;
  color: lightcyan;
}
.contactpos {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1000;
}
