.gmcontainer {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 3% 4%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  margin-bottom: 40px;
}
.gmcontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}
.gmcontainer .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gmcontainer .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.gmcontainer .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.gmcontainer .row100 .col .inputBox input,
.gmcontainer .row100 .col .inputBox textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.gmcontainer .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.gmcontainer .row100 .col .inputBox input:focus + .text,
.gmcontainer .row100 .col .inputBox input:valid + .text,
.gmcontainer .row100 .col .inputBox textarea:focus + .text,
.gmcontainer .row100 .col .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.gmcontainer .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.gmcontainer .row100 .col .inputBox input:focus ~ .line,
.gmcontainer .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}
.gmcontainer .row100 .col .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.gmcontainer .row100 .col .inputBox textarea:focus ~ .line,
.gmcontainer .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}
.gmcontainer .row100 .col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.5s ease;
  color: #000;
}
.gmcontainer .row100 .col input[type="submit"]:hover {
  background-color: #1e9bff;
  color: #fff;
}
@media screen and (max-widht: 600px) {
  .gmcontainer {
    padding: 5px 20px;
    width: 100%;
  }
}
