nav {
  background: rgba(255, 255, 255, 0.2);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 1001;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}
nav #link {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
}
nav #link:hover {
  background: rgba(1, 0, 0, 0, 0.8);
}
nav #link.active {
  background: var(--color-bg);
  color: white;
}
@media screen and (max-width: 520px) {
  nav #link {
    padding: 0.7rem;
  }
}
nav #link::after {
  position: absolute;
  content: attr(dataname);
  display: none;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  font-size: 30px;
  font-weight: bolder;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: all 1s;
}
nav #link:hover::after {
  display: block;
}
