nav {
  background: rgba(0, 0, 0, 0.2);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 1001;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}
nav #link {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
}
nav #link:hover {
  background: rgba(1, 0, 0, 0, 0.3);
}
nav #link.active {
  background: var(--color-bg);
  color: white;
}
